<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>DecodeThis!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href='public/css/style.css' rel='stylesheet' type='text/css'>
    <style id="testAllOveride"></style>
    <script src="public/js/vendor/ractive.min.js"></script>
    <script id="result-template" type="text/ractive">
      <div>
        <h2>Test Results:</h2>
        <p>
          <strong>Success Count:</strong>
          {{success}}
          ({{(success / count * 100 || 0).toFixed(3)}}%)
        </p>
        <p>
          <strong>Failure Count:</strong>
          {{failure}}
          ({{(failure / count * 100 || 0).toFixed(3)}}%)
        </p>
      </div>
    </script>
    <script id="head" type="text/ractive">
    <thead >
    <tr >
            <th></th>
            <th>Description</th>
            <th>File Type</th>
            <th>Bit Depth</th>
            <th>Sampling Rate</th>
            <th>Length (msec)</th>
            <th>kbps</th>
            <th>Channels</th>
            <th>Status</th>
            <th>Time Taken (msec)</th>
        </tr>
        </thead>
        {{#tests:i}}
        <tr id={{data.filename}} class={{data.class}}>
            <td><button on-click='starttest:{{i}}' disabled={{data.button}}><span class="action">{{data.action}}</span></button></td>
            <td>{{data.description}}</td>
            <td>{{data.type}}</td>
            <td>{{data.bitdepth}}</td>
            <td>{{data.samplingrate}}</td>
            <td>{{data.length}}</td>
            <td>{{data.kbps}}</td>
            <td>{{data.channels}}</td>
            <td>{{data.status}}</td>
            <td>{{data.timetaken}}</td>
        </tr>
        {{/tests}}
    </script>

    <script src="public/js/main.min.js"></script>

</head>
<body>
<!--[if lt IE 9]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="content">
    <h1 class="title">Decode this!</h1>
    <h2 class="tagline">audio codec testing for nerds</h2>
    <button class="play-all" id="playall"><span>▶</span></button>
    <br />
    <div id="result-container"></div>
    <table id="testlist" class="test-table"> </table>
</div>

<a href="https://github.com/notthetup/decodethis" class="github-ribbon"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54979274-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
